.block {
  padding: 100px 100px 30vh;
  height: 100vh;
}

.block_1 {
  height: 100%;
  box-shadow: 0 0 10px crimson;
  border-radius: 3px;
}

.block_1 {
  background:url(/yarlik/kxfWDC7BSS3WWHQLHW60.jpg) 50% 50% / auto 500px no-repeat, linear-gradient(30deg,#382453 30%,#1a2b8a);

}
.block_text {color: crimson;
font-size: 3rem;
text-align: center;}